body {
    background-color: pink;
    text-align: center;
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#top-bar {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
}

#top-bar img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-left: 10px;
}

#currency-container {
    display: flex;
    align-items: center;
}

#currency-container img {
    width: 1px;  /* Changed size of cherru image */
    height: 1px; /* Changed size of cherru image */
    margin-right: 5px;
}

#avatars-container {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.avatar {
    cursor: pointer;
    width: 200px;
    height: 200px;
    outline: none;
    margin: 0 10px;
}

#shop {
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

#exchange img {
    width: 1px;  /* Changed size of cursor image */
    height: 1px; /* Changed size of cursor image */
}
